<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
      <script src="/underscore/underscore.js"></script>
      <script src="/backbone/backbone.js"></script>
      <script src="/handlebars/handlebars.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
