
<div class="content">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}, Searching Tags!</p>
    <form>
        <input type="text">
        <button class="get-tag">추가</button>
    </form>
    <h2>Result</h2>
    <div class="result"></div>
    <img class="ajax-loader" src="/images/ajax-loader.gif">
</div>
