<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .more {
            font-size: 30px;
        }
        .content {
            width: 100%;
            overflow-y: scroll;
            height: 800px;
        }
        .ajax-loader {
            display: none;
            margin-left: 43%;
            margin-top: 30px;
        }
    </style>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/underscore/underscore.js"></script>
    <script src="/javascripts/insta.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
